<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="main-style.css">
    <script type="text/javascript" defer src="api.js">
        
    </script>
    <script type="text/javascript" defer src="welcome.js">

    </script>
    <script type="text/javascript" defer src="links.js"></script>
</head>
<body>
    <header>
        <img src="https://yt3.googleusercontent.com/ytc/AIdro_mLEChNwe_lx5IJHHpTTyeQDZF6dqNzqdv0qIYwxwOIZFEIqKZ4yJI21xrQfhWDIZaP-Q=s160-c-k-c0x00ffffff-no-rj" alt="">
        <section>
            <article id="headsec1"></article>
            <article id="headsec2"></article>
            <article id="headsec3">
                <div class="content" onclick="clickwait()">
                    ☰
                    <div class="content-container">
                        <h2>Menu</h2>
                        <ul>
                            <li>
                                <a href="">Home</a>
                            </li>
                            <li>
                                <a href="">About</a>
                            </li>
                            <li>
                                <a href="">Shop</a>
                            </li>
                            <li>
                                <a href="">Videos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <article id="headsec4">
                <a href="">Home</a><a href="">About</a><a href="">Shop</a><a href="">Videos</a>
            </article>
        </section>
    </header>
    <main>
        <section>
            <h2>
                Mes vidéos les plus récentes:
            </h2>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>